# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
env/
ENV/
.env
.env.*
!.env.*example

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Test coverage
htmlcov/
.tox/
.coverage
.coverage.*
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
coverage_html/

# Project specific
wandb/
logs/
data_map.txt
faiss.index
sqlite.db
db.sqlite
experiments/
question_generator/
archive/
demo/english_activity.csv
demo/db/
src/db/
scripts/
*.pkl
secrets.toml
secrets.*.toml
uploads/
evals/
node_modules/
dist/
*.log
experimental/

# SQLite
*.db
*.db-journal
*.sqlite
*.sqlite3
*.sqlite3-journal